.centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  user-select: none;
}

.ProductPreview {
  width: 100%;
  position: relative;
}

.ProductPreview > img {
  width: 100%;
  display: block;
  border-radius: 12px;
}

.TimeSection {
  composes: centerContent;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
}

.HeartRateSection {
  composes: centerContent;
  font-size: 48px;
  font-weight: 600;
}

.HeartRateSection > i {
  color: red;
  animation: heartbeat 1.2s infinite;
  display: inline-block;
}

.HeartRateSection > p {
  margin-top: 16px;
  font-size: 32px;
  font-weight: 500;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
