.MainContainer {
  width: 100%;
  padding: 4% 8%;
  margin-top: 32px;

  display: flex;
  gap: 32px;
  align-items: flex-start;

  box-sizing: border-box;
}

.ProductPreviewWrapper {
  flex: 1;
  position: relative;
}

.ProductDetailsWrapper {
  flex: 1;
}

@media (max-width: 900px) {
  .MainContainer {
    flex-direction: column;
    padding: 6% 5%;
  }

  .ProductPreviewWrapper,
  .ProductDetailsWrapper {
    width: 100%;
  }
}
